main
containermod

results/*
out-metrics/*

experiments/.*
experiments/*.log
experiments/*.txt
experiments/*.html
experiments/*.config
experiments/*.nf
experiments/work/
experiments/junk/
experiments/results/*
experiments/.nextflow.*
experiments/*nextflow*

*.csv
